<div id="panel">
	<img class='pro-pic' src="{{site.url}}{{ site.biourl }}"/>
	<h4 class='name'>{{ site.nameOfWr }}</h4>
	<span class='id'>طراح وب و تجربه كاربري</span>
	<p class='biography'>{{ site.description }}</p>
	<ul class='share-buttons-bio'>
	  <li><a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank" title=" Facebook profile"><i class="fa fa-facebook-square fa-2x"></i></a></li>
	  <li><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" title="Tweeter profile"><i class="fa fa-twitter-square fa-2x"></i></a></li>
	  <li><a href="https://plus.google.com/115978942016527342968" target="_blank" title="Google+ profile"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
	  <!-- &summary=&source= -->
	  <li><a href="https://linkedin.com/in/{{ site.linkedin_profile }}" target="_blank" title="LinkedIn profile"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
	  <li><a href="https://github.com/{{ site.github_username }}" target="_blank" title="github profile"><i class="fa fa-github-square fa-2x"></i></a></li>
	</ul>
</div>