<header class="site-header">

  <div class="wrapper">
 <!-- this is place of svg file -->
 <div id="mySvgWrapper">
  <svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="210mm"
   height="297mm"
   viewBox="0 0 500 1000"
   id="svg2"
   version="1.1"
   inkscape:version="0.91 r13725"
   sodipodi:docname="arasha.svg">
  <defs
     id="defs4">
    <linearGradient
       inkscape:collect="always"
       id="linearGradient4283">
      <stop
         style="stop-color:#38312e;stop-opacity:1;"
         offset="0"
         id="stop4285" />
      <stop
         style="stop-color:#38312e;stop-opacity:0;"
         offset="1"
         id="stop4287" />
    </linearGradient>
    <inkscape:path-effect
       effect="spiro"
       id="path-effect4281"
       is_visible="true" />
    <inkscape:path-effect
       effect="spiro"
       id="path-effect4198"
       is_visible="true" />
    <linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient4283"
       id="linearGradient4289"
       x1="207.73555"
       y1="501.19269"
       x2="402.8269"
       y2="492.28183"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(1.1539178,0,0,1.1539177,-85.610454,-35.036021)" />
  </defs>
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="0.49497475"
     inkscape:cx="70.944965"
     inkscape:cy="642.97446"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     inkscape:object-paths="true"
     inkscape:snap-nodes="false"
     inkscape:window-width="1366"
     inkscape:window-height="706"
     inkscape:window-x="-8"
     inkscape:window-y="-8"
     inkscape:window-maximized="1" />
  <metadata
     id="metadata7">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1">
    <path
       style="opacity:1;fill:#434343;fill-opacity:0.41176471;stroke:#38312e;stroke-width:4.49255562;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.98324022"
       d="M 485.62005,477.02235 C 490.45634,366.66388 416.54047,339.94341 334.30768,322.56602 131.09539,325.24694 102.28499,615.3577 270.47728,623.88089 325.57316,630.98346 470.77561,554.07302 490.59837,475.71221"
       id="path4186"
       class="one"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="cccc" />
     
    <path
       style="opacity:0.82599996;fill:#434343;fill-opacity:0.41176471;fill-rule:nonzero;stroke:#38312e;stroke-width:4.62687063;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.98324022"
       d="M 527.24661,470.883 C 554.5411,541.55712 421.4736,671.46277 316.24488,669.80563 188.14416,667.78829 96.33566,592.05585 110.93719,470.98344 130.11494,311.96607 253.3048,233.36252 327.59176,249.14566 c 124.31542,26.41229 187.312,81.90138 199.30842,230.10728"
       id="path4201"
       class="two"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="csssc" />
     
    <path
      class="three"
       style="opacity:0.65899999;fill:#434343;fill-opacity:0.41176471;stroke:#38312e;stroke-width:4.66503048;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.98324022"
       d="M 310.0115,727.18869 C 155.05916,706.40972 102.83524,660.6775 69.232372,492.94223 38.070133,337.38983 157.44034,138.20811 358.88831,183.46827 c 32.63397,7.33201 79.70257,6.92653 202.93957,208.59026 C 645.1321,528.3767 440.16022,720.6342 300.29439,724.55222"
       id="path4208"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="csssc" />
    <path
       style="fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#C8ACAC;stroke-width:25;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 235.87061,537.18442 c 12.10426,-65.41308 32.88814,-136.4196 88.68421,-141.47829 67.22123,27.75695 70.25611,106.68549 71.42498,142.48844"
       id="path4148"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="ccc" />
    <path
       style="opacity:1;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:#C8ACAC;stroke-width:25;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="path4160"
       sodipodi:type="arc"
       sodipodi:cx="319.28571"
       sodipodi:cy="486.64792"
       sodipodi:rx="19.192898"
       sodipodi:ry="19.192898"
       sodipodi:start="0.023976635"
       sodipodi:end="6.2392973"
       d="m 338.47309,487.10806 a 19.192898,19.192898 0 0 1 -19.32193,18.73228 19.192898,19.192898 0 0 1 -19.0574,-19.00135 19.192898,19.192898 0 0 1 18.6753,-19.37701 19.192898,19.192898 0 0 1 19.69106,18.34387 l -19.17441,0.84207 z" />   
     
  </g>
  </svg>
</div>
    <a class="site-title" href="{{ site.url }}">
      {{ site.title }}
    </a>
    
    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      <!--   <svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="210mm"
   height="297mm"
   viewBox="0 0 744.09448819 1052.3622047"
   id="svg2"
   version="1.1"
   inkscape:version="0.91 r13725"
   sodipodi:docname="arasha.svg">
  <defs
     id="defs4">
    <linearGradient
       inkscape:collect="always"
       id="linearGradient4283">
      <stop
         style="stop-color:#38312e;stop-opacity:1;"
         offset="0"
         id="stop4285" />
      <stop
         style="stop-color:#38312e;stop-opacity:0;"
         offset="1"
         id="stop4287" />
    </linearGradient>
    <inkscape:path-effect
       effect="spiro"
       id="path-effect4281"
       is_visible="true" />
    <inkscape:path-effect
       effect="spiro"
       id="path-effect4198"
       is_visible="true" />
    <linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient4283"
       id="linearGradient4289"
       x1="207.73555"
       y1="501.19269"
       x2="402.8269"
       y2="492.28183"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(1.1438906,0,0,1.1438906,-103.0365,0.44408615)" />
  </defs>
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="0.49497475"
     inkscape:cx="148.22268"
     inkscape:cy="481.79347"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     inkscape:object-paths="true"
     inkscape:snap-nodes="false"
     inkscape:window-width="1366"
     inkscape:window-height="706"
     inkscape:window-x="-8"
     inkscape:window-y="-8"
     inkscape:window-maximized="1" />
  <metadata
     id="metadata7">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1">
    <text
       xml:space="preserve"
       style="font-style:italic;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:308.0078125px;line-height:119.00000572%;font-family:'Komika Text';-inkscape-font-specification:'Komika Text Italic';letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:url(#linearGradient4289);stroke-width:1.14389062px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="145.56569"
       y="647.11688"
       id="text3344"
       sodipodi:linespacing="119.00001%"
       transform="scale(1.1901611,0.84022239)"><tspan
         sodipodi:role="line"
         id="tspan3346"
         x="145.56569"
         y="647.11688"
         style="font-style:italic;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:308.0078125px;line-height:117.99999475%;font-family:'Komika Text';-inkscape-font-specification:'Komika Text Italic';stroke:url(#linearGradient4289);stroke-width:1.14389062px">A</tspan></text>
    <path
       style="opacity:1;fill:none;fill-opacity:1;stroke:#38312e;stroke-width:4.49255562;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.98324022"
       d="M 485.62005,477.02235 C 490.45634,366.66388 416.54047,339.94341 334.30768,322.56602 131.09539,325.24694 102.28499,615.3577 270.47728,623.88089 325.57316,630.98346 470.77561,554.07302 490.59837,475.71221"
       id="path4186"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="cccc" />
    <path
       style="opacity:0.82599996;fill:none;fill-opacity:1;fill-rule:nonzero;stroke:#38312e;stroke-width:4.57168913;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.98324022"
       d="M 523.31975,470.88462 C 549.9636,541.56798 420.06816,671.49062 317.34788,669.83326 192.30082,667.81566 102.68084,592.07331 116.9343,470.98508 135.6549,311.94691 255.90817,233.33308 328.42427,249.11829 449.77626,275.53404 511.27113,331.03038 522.98159,479.25566"
       id="path4201"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="csssc" />
    <path
       style="opacity:0.65899999;fill:none;fill-opacity:1;stroke:#38312e;stroke-width:4.73703337;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.98324022"
       d="M 301.53499,702.90937 C 141.75827,682.13308 87.908377,636.40679 53.2593,468.69326 21.126837,313.16102 144.21359,114.00511 351.93356,159.2594 c 33.65002,7.33106 82.18408,6.92564 209.25801,208.56323 85.89787,136.3005 -125.45573,328.53309 -269.67623,332.45061"
       id="path4208"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="csssc" />
  </g>
</svg> -->
      </a>

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
