---
layout: default
---

<div class="home">

  <!--<h1 class="page-heading">عناوين</h1>-->

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
         <picture class="postpic">
            <source data-srcset="{{ post.img2 }}" media="(min-width: 40em) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 40em) and (min-resolution: 144dpi)">
            <source data-srcset="{{ post.img2 }}" media="(min-width: 40em)">
            <source data-srcset="{{ post.img2 }}" media="(min-width: 30em) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 30em) and (min-resolution: 144dpi)">
            <source data-srcset="{{ post.img2 }}" media="(min-width: 30em)">
            <source data-srcset="{{ post.img2 }}" media="(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)">
            <source data-srcset="{{ post.img2 }}">
            <img src="{{ post.img2 }}" data-src="{{ post.img2 }}" alt="" class="lazyload" />
          </picture>  
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %d, %Y" }}</span><br /><br />
          <div style="display:block;margin-bottom:40px !important;word-wrap:break-word;">
            {{ post.excerpt }}
          </div>
        <a href="{{ post.url | prepend: site.baseurl }}" class="postbutton">ادامه مطلب</a>
      </li>
    {% endfor %}
  </ul>

 <p class="rss-subscribe">
   <a href="{{ '/feed.xml' | prepend: site.baseurl }}" title="اشتراك از طريق rss" >
    <i class="fa fa-rss fa-2x"></i>
  </a>
 </p>

</div>