---
layout: default
---

<div class="home">

  <h1 class="page-heading">عناوين</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %d, %Y" }}</span><br /><br />

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
          {{ post.exerpt }}
      </li>
    {% endfor %}
  </ul>

 <p class="rss-subscribe">
   <a href="{{ '/feed.xml' | prepend: site.baseurl }}" title="اشتراك از طريق rss" >
    <i class="fa fa-rss fa-2x"></i>
  </a>
 </p>

</div>